@font-face {
    font-family: 'Bitstream Vera Sans';
    src: url('VeraMono-Bold-Italic-webfont.eot');
    src: url('VeraMono-Bold-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('VeraMono-Bold-Italic-webfont.woff') format('woff'),
         url('VeraMono-Bold-Italic-webfont.ttf') format('truetype'),
         url('VeraMono-Bold-Italic-webfont.svg#bitstream_vera_sans_monoBdOb') format('svg');
    font-weight: bold;
    font-style: italic;

}

